@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: -10px;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #212121;
  display: grid;
  place-items: center;
  color: white;
  overflow: hidden;
}

.cover {
/*   top: 0; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(80, 7, 136), rgb(138, 21, 216));
  background-size: cover;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  gap: 5rem;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
	overflow: hidden;

}

.logo {
  width: 6rem;
}

.web {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 10 violet;
  animation: blink 1.2s infinite ease-in-out;
}
@keyframes blink {
  0% {
    box-shadow: 0 0 5px violet;
  }
  50% {
    box-shadow: 0 0 20px violet;
  }
  100% {
    box-shadow: 0 0 5px violet;
  }
}


.book {
  position: relative;
  width: 350px;
  height: 650px;
  border-radius: 10px;
  background-color: #d3eeec;
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  overflow: hidden;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-84deg);
}

.cover > h1 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1rem;
	color: #fff;
}
.cover > h2 > span {
  display: flex;
}

.rainbow-text {
  font-size: 1.3rem;
  background: linear-gradient(270deg, blue, green, orange, yellow, blue, green, orange, yellow, blue, green, orange, yellow );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowMove 9s linear infinite;
}
.rainbow-text1 {
  display: inline-block;
  font-size: 1.3rem;
  background: linear-gradient(-270deg, blue, green, orange, yellow, blue, green, orange, yellow, blue, green, orange, yellow );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowMove1 5s linear infinite;
}
@keyframes rainbowMove1 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes rainbowMove {
  100% {
    background-position: 0% 50%;
  }
  0% {
    background-position: 100% 50%;
  }
}
.right {
	margin-right: 70px;
}
.center {
  margin-left: 40px;
}

.left {
	margin-left: 90px;
}

.content {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.parag {
  display: flex;
  flex-direction: column;
  font-size: 0.88rem;
  line-height: 1.4;
  color: #000000;
  text-align: justify;
  padding: 0 10px;
}

.parag p {
   flex: 1 1 auto;
  margin: 0;
  /* font-weight: 700; */

   margin-bottom: 12px;
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 1.5;
  text-align: justify;
}


@media screen and (max-width: 600px) {

  .book {
    width: 90%;
    height: 85%;
  }

  .parag p {
    font-size: 0.85rem;
    flex: 1 1 auto;
  }
  .content {
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
	
.content .socials a i {
    font-size: 2rem;
  }

}



.socials {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  .socials a i {
    font-size: 24px;
    animation: jumpUp 1.5s ease-in-out infinite;
  }

  .fa-whatsapp {
	color: green;
}
.fa-facebook-f {
	color: blue;
}
.fa-instagram {
	color: violet;
}
.fa-waze {
	color: black;
}

.socials a:nth-child(1) i {
  animation-delay: 0.3s;
  color: green;
}
.socials a:nth-child(2) i {
  animation-delay: 0s;
  color: blue;
}
.socials a:nth-child(3) i {
  animation-delay: 0.3s;
  color: violet;
}
.socials a:nth-child(4) i {
  animation-delay: 0s;
  color: black;
}
@keyframes jumpUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
